body {
  margin: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background {
  height: 100%;
  width: 100%;
}

.bg {
  height: 100%;
  width: 100%;
  bottom: 0px;
  right: 0px;
  position: absolute;
  background-image: url(./Images/earth.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#parallax {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#astro {
  margin: 0;
  position: relative;
  top: 50%;
  width: 40vw;
  height: 60vh;
  left: 50%;
  object-fit: contain;
}
